/*website_gh styles*/
*{
margin:5px;
border:5px;
max-width: 100%;
max-height: 100%;
background-repeat: no-repeat;
background-image: linear-gradient(to bottom, #4b4453, #5d5665, #6f6877, #827b8a, #958e9e, #a394aa, #b399b4, #c49ebd, #d994b5, #ed8aa3, #fa8288, #ff8066);
background-size:cover;
background-position: center;
background-attachment: fixed
}

@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Commissioner:wght@100..900&family=Itim&family=Lexend:wght@100..900&family=Onest:wght@100..900&display=swap');


#inicio{
    grid-area:auto;
    font-size: 0.5em;
}

#nav{
    grid-area: menu;
    color:#6f6877;
    font-size: 2em;
    border:transparent;
    text-decoration: none;
    text-align: center;
    border-color: transparent;
    background-color:#fa8288;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    ul{
        list-style: none;
        text-align: center;
        font-size: 2em;
        li{
            display: inline;
            margin:1em ;
            padding:0 ;
            color: #5d5665;
            a{
                text-decoration: none;
                color: #5d5665;
            }
            &
            a:hover{
                text-decoration: none;
                color:#ed8aa3;
            }
        }
    }
}

h1{
    font-size: 3em;
    color:#ff8066;
    background-color:#4b4453;
    }
h2{
    font-size:2em ;
    color:#5d5665;
    background-color:#fa8288;
    }

#content{
    grid-template-areas: "header"
                    "main"
                    "products"
                    "footer";
    grid-template-rows:auto auto 4vh auto ;
    grid-template-columns: 1fr
}


.container{
    position: relative;
    font-size:1em;
    text-align: left;
    height:5%;
    width:50%;
    border-color:#4b4453;
    padding:1em;
    background-color:#b399b4;
    font-style:inherit;
    overflow:visible
}
